body{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgb(255, 255, 255), rgba(142, 221, 255, 0.424));
    color: rgb(80, 80, 80);
}
article{
    width: 100%;
    height: auto;
    padding-bottom:100px ;
}
header{
    height: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 30px;
}

/* index.html==============================↓ */
.link{
    float: right;
    width: 15%;
    margin-top: 28px;
}
.link>a{
    color: rgb(61, 61, 61);
    text-decoration: none;
    margin-right: 0%;
}
.link>a:hover{
    color: rgb(0, 187, 200);
}
header>span>a{
    left: 50px;
    line-height: 100px;
    color: rgb(109, 109, 109);
    font-size: 40px;
    position: absolute;
    text-decoration: none;
}
footer{
    background-color: rgb(68, 68, 68);
    color: white;
    height: 60px;
    line-height: 60px;
    position: relative;
    width: 100%;
}
footer>div{
    display: inline-block;
}
.photo-box{
    width: 17%;
    height: auto;
    background-image: url(images/board.jpg);
    padding: 1.5%;
    border: rgb(185, 145, 112) 10px solid;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    border-radius: 10px;
}
img{
    vertical-align: top;
    margin-top: 30px;
}
.left{
    margin-right: 2%;
}
.center{
    width: 50%;
    height: 1500px;
    border-radius: 5px;
}
.over{
    height: auto;
    padding-bottom: 20px;
    background-color: rgba(159, 204, 206, 0.452);
}
.middle{
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(235, 228, 134);
}
.under{
    height: auto;
    padding-bottom: 20px;
    background-color: rgba(255, 148, 148, 0.452);
    margin-bottom: 50px;
}

.right{
    margin-left: 2%;
}

.inblo{
    display: inline-block;
    vertical-align: top;
}
h1{
    color: rgb(58, 58, 58);
    font-size: 30px;
    line-height: 150px;
}
.btn{
    background-color: rgb(84, 169, 194);
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(200, 123, 78);
}

.btn-fin{
    background-color: rgb(150, 178, 187);
    padding: 20px;
    color: rgb(27, 27, 27);
    text-decoration: none;
    border-radius: 10px;
}
.in-header>div{
    display: inline-block;
    vertical-align: top;
}

.in-header>div>:nth-child(1){
    margin-left: -30px;
}

.riku{
    float: left;
    margin-top: 0;
}

.in-top>h2{
    line-height: 50px;
    margin-bottom: 0;
}

.f-link{
    color: rgb(255, 255, 255);
    margin: 0 40px;
}

.hamburger-menu{
    display: none;
}

.hide-br{
    display: none;
}

/* activities.html==============================↓ */
.activity{
    width: 85%;
    margin: 0 auto 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.title{
    background-color: teal;
    color: white;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
}

/* form.html==============================↓ */
.form-box{
    height: 800px;
}

.caution{
    background-color: rgb(255, 223, 154);
    width: 70%;
    padding:  10px 20px 40px;
    margin: 20px auto;
    font-weight: bold;
}

.howto{
    width: 70%;
    background-color: rgb(196, 229, 255);
    padding: 10px 20px 40px;
    margin: 20px auto 50px;
    text-align: center;
}

/* FAQ.html==============================↓ */
.act-text{
    padding-bottom:20px ;
}
#pc-hide{
    display: none;
}
#res-hide{
    display: inline-block;
}

/* スマホ　レスポンシブ対応==============================↓ */
/* index.html==============================↓ */
@media screen and (max-width: 480px){

    header>span>a{
        font-size:15px;
        margin: 0 auto;
        left: 10px;
        line-height: 80px;
    }
    header{
        padding: 0;
        height: 80px;
    }
    .link>a{
        display: none;
    }
    .in-header>div{
        font-size:15px ;
        margin-left:5%;
        width: 310px;
    }
    .in-header>div>h1{
        font-size: 20px;
        line-height: 50px;
    }
    .index-div{
        margin: 0;
        height: 80px;
    }
    .index-div>.index-h1{
        font-size: 15px;
        line-height: 30px;
    }
    .in-header>div>img{
        display: none;
    }
    .photo-box{
        display: none;
    }
    .center{
        width: 100%;
        height: auto;
    }
    .in-top{
        font-size: 12px;
    }
    .in-buttom{
        font-size: 12px;
    }
    .over{
        height: auto;
        padding: 5%;
    }
    .middle{
        padding: 5%;
    }
    .under{
        height: auto;
        padding: 5%;
    }
    .hide-br{
        display: inline-block;
    }
    footer{
        width: 100%;
        font-size: 10px;
        height: auto;
    }
    footer>div{
        height: 30px;
        line-height: 30px;
    }
    .f-link{
        margin: 0 5%;
    }

    /* form.html==============================↓ */
    h1{
        font-size:20px ;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
    }
    .act-content{
        padding: 15px;
    }
    .form-box{
        height: 100%;
    }
    .form-box>h3{
        font-size: 13px;
    }
    .caution{
        width: 94%;
        padding: 0 3% 20px 3%;
    }
    .howto{
        width: 94%;
        padding: 10px 3% 20px;
    }
    .form-box>.btn{
        width: auto;
        display: inline-block;
        margin-top: 10px;
    }
    .caution{
        font-size: 12px;
    }
    .howto{
        font-size:12px ;
    }

    /* FAQ.html==============================↓ */
    .activity{
        width: 100%;
    }
    #pc-hide{
        display: inline-block;
    }
    #res-hide{
        display: none;
    }

    /*  ハンバーガーメニュー==============================↓ */
    .hamburger-menu{
        display: inline-block;
        float: right;
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #3584bb;
        transition: all 0.5s;/*アニメーション設定*/
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }
    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #3584bb;
        border-radius: 10px;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    #menu-btn-check {
        display: none;
    }
    /*  ハンバーガーメニュー==============================↑ */
 }
